<div class="footer__socials-wrapper">
    <p class="footer__follow-us">
        Suivez-nous
    </p>
    <ul class="footer__socials">
        <li class="footer__socials-item">
            <a href="#" class="icon icon-facebook-circled" target="_blank"></a>
        </li>
        <li class="footer__socials-item">
            <a href="#" class="icon icon-linkedin-circled" target="_blank"></a>
        </li>
        <li class="footer__socials-item">
            <a href="#" class="icon icon-twitter-circled" target="_blank"></a>
        </li>
    </ul>
</div>
