{% if menu %}
	<ul class="footer__menu-list">
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }} footer__menu-item">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "partial/footer/menu.twig" with {'menu': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
