.section {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;

    @include respond-to(m) {
      margin-bottom: 8em;
    }
  }

  &__title {
    margin-right: 1em;
  }
}
