<div class="actualites-header rellax" data-rellax-speed="1" data-rellax-desktop-speed="3" data-rellax-mobile-speed="0"
     data-rellax-xs-speed="0">
    {% if post.thumbnail %}
    <img src="{{ post.thumbnail.src|resize(1920, 1080) }}" class="actualites-header__background">
    {% endif %}
    <div class="actualites-header__wrapper">
        <h1 class="title--h1 actualites-header__title">{{ post.title }}</h1>
        <p class="actualites-header__visual-title">
            <span class="red">01</span> / {{ breadcrumbs() }}
        </p>
    </div>
</div>
