<section class="hero wrapper">
    <span class="hero__side-tab">
        <h1 class="rellax" data-rellax-speed="-7">
            - Lyon HR Tech
        </h1>
    </span>

    <p class="hero__title"> {{ post.hero_title }} </p>

    <div class="align-center">
        <a class="hero__link btn" href="{{ post.hero_link }}"> {{ post.hero_btn }} </a>
    </div>

    <figure class="hero__figure">
        <img src="{{ Image(post.hero_bg).src }}" alt="home background" class="hero__img">
    </figure>
</section>
