<div class="single-company__header classic-header classic-header--secondary rellax" data-rellax-speed="1"
     data-rellax-desktop-speed="5"
     data-rellax-mobile-speed="0"
     data-rellax-xs-speed="0">
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize(1920, 1080) }}" class="classic-header__background">
    {% endif %}

    <div class="single-company__wrapper wrapper">
        <div class="single-company__desc">
            <div class="single-company__row">
                <div class="single-company__logo-container">
                    <img class="single-company__logo" src="{{ Image(post.logo).src }}">
                </div>

                <div class="single-company__side">
                    <h1 class="single-company__title">{{ post.title }}</h1>

                    <p class="single-company__type"> {{ post.company_type }} </p>

                    <a href="mailto:{{ post.contact_mail }}"
                       class="single-company__mail">{{ post.contact_mail }}</a>

                    <a href="tel:{{ post.contact_phone }}" class="single-company__phone">{{ post.contact_phone }}</a>

                    <a href="{{ post.company_website.url }}"
                       class="single-company__website-link">{{ post.company_website.url }}</a>
                </div>
            </div>
            <div class="single-company__row">
                <div class="single-company__head-footer">
                    <p class="single-company__contact-name">{{ post.contact_name }}</p>
                    <div class="social-sharer">
                        {% for index, url in post.meta('social_media') %}
                            {% if url %}
                                <a href="{{ url }}" class="social-sharer__item icon-{{ index }}-circled"
                                   rel="noopener noreferrer" target="_blank">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="video-bloc">
            {% if post.video_link %}
                <div class="plyr__video-embed" id="plyr-player">
                    <iframe
                            src="{{ post.video_link }}"
                            allowfullscreen
                            allowtransparency
                    ></iframe>
                </div>
            {% else %}
                <div class="video-bloc__placeholder">
                    <p>Comming soon <span>!</span></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
