<section class="hero event-bloc-header wrapper">
    <span class="hero__side-tab">
        <h1 class="rellax" data-rellax-speed="-7">
            - Lyon HR Tech
        </h1>
    </span>

    <div class="event-bloc-header__date">
        <div class="event-bloc-header__date-day">
            <div class="event-bloc-header__date-top">
                <span class="event-bloc-header__date-dD">
                    {{ highlighted[0].event_date|date('l d') }}
                </span>
            </div>
            <div class="event-bloc-header__date-bottom">
                <span class="event-bloc-header__date-F">
                    {{ highlighted[0].event_date|date('F') }}
                </span>
                <span class="event-bloc-header__date-o">
                    {{ highlighted[0].event_date|date('o') }}
                </span>
            </div>
        </div>
        <div class="event-bloc-header__date-hour">
            À partir de {{ highlighted[0].event_date|date('h:i') }}
        </div>
    </div>

    <div class="event-bloc-header__event">
        <h1 class="event-bloc-header__intitule">
            {{ highlighted[0].post_title }}
        </h1>

        <div class="event-bloc-header__btn-container">
            <a href="{{ highlighted[0].shop_link.url }}" class="btn event-bloc-header__btn" target="_blank"
               rel="noopener noreferrer"> {{ highlighted[0].shop_btn }} </a>
        </div>
    </div>


    <figure class="hero__figure">
        <img src="{{ highlighted[0].thumbnail }}" alt="home background" class="hero__img">
    </figure>
</section>
