.classic-content {
  position: relative;
  background-color: $color-white;
  min-height: 50vh;
  //position: relative;
  box-shadow: 0 1.25em 2em rgba($color-black, 0.1);
  margin: 0 auto 15.5em;
  padding: 3em $default-horizontal-padding;
  line-height: 1.5;

  @include respond-to(xxl) {
    padding: 5em 7em;
  }

  &__extra {
    position: absolute;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba($color-black, 0.25);
    z-index: -1;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 5em;
    bottom: -2em;

    @include respond-to(m) {
      bottom: 0;
    }

    @include respond-to(l) {
      font-size: 10em;
      -webkit-text-stroke-width: 5px;
    }

    @include respond-to(xxl) {
      right: -0.4em;
      font-size: 15.5em;
      left: inherit;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 2em;
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 1em;
  }
}
