.actualites-header,
.classic-header {
  $height-dk: 90vh;
  position: relative;
  //background-color: $colors-primary;
  color: $color-white;
  min-height: 10em;
  display: flex;
  align-items: center;


  @include respond-to(xxl) {
    height: $height-dk;
    padding-bottom: -$height-dk/2;
    margin-bottom: -$height-dk/2;
    align-items: flex-start;
  }

  &:after {
    @extend %blueFilter;
    z-index: -1;
  }

  &--secondary {
    @include respond-to(xxl) {
      padding-bottom: -$height-dk/4;
      margin-bottom: -$height-dk/4;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &__extra {
    position: absolute;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba($color-white, 0.25);
    right: 0;
    left: -0.5em;
    text-align: center;
    font-size: 5em;
    bottom: 0.5em;

    @include respond-to(l) {
      font-size: 10em;
      -webkit-text-stroke-width: 5px;
    }

    @include respond-to(xxl) {
      font-size: 15.5em;
    }
  }

  &__title {
    @include respond-to(s) {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    max-width: $max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    margin: 0 2em;
    flex-direction: column;

    @include respond-to(s) {
      flex-direction: row;
    }

    @include respond-to(xxl) {
      margin: 0 auto;
    }
  }

  &__visual-title {
    border-top: $color-white 0.3em solid;
    text-align: right;
    font-weight: 900;
    padding-top: 0.25em;
    font-size: 1em;

    @include respond-to(s) {
      width: 33%;
    }

    @include respond-to(m) {
      font-size: 1.125em;
    }
  }
}
