//  List unstyled
%list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

//  Inline block with middle vertical align
%inlineBlockVerticallyCentered {
  display: inline-block;
  vertical-align: middle;
}

//  Vertical align middle
%verticalAlignMiddlePseudoElement {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

%verticalAlignMiddle {
  &:before {
    @extend %verticalAlignMiddlePseudoElement;
  }
}

%verticalAlignMiddleAfter {
  &:after {
    @extend %verticalAlignMiddlePseudoElement;
  }
}

%hoverHighlight {
  transition: all $default-transition / 2 ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0.25em;
  opacity: 0;
  animation-name: onLoadHide;
  animation-delay: $default-transition;
  animation-duration: $default-transition * 2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: inline-block;

  &:after {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: $colors-secondary;
    transform: translateX(-101%);
    animation-name: left2rightLeave;
    animation-duration: $default-transition;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &:hover {
    color: $color-white;

    &:after {
      animation-name: left2rightEnter;
    }
  }
}

%btn {
  display: inline-block;
  background: $colors-secondary;
  padding: 10px 60px;
  font-size: px2em(25px, 16px);
  color: $color-white;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  @extend %hoverHighlight;

  &:after {
    background-color: $color-white;
  }

  &:hover {
    cursor: pointer;
    color: $colors-secondary;
  }
}


@keyframes left2rightEnter {
  from {
    transform: translateX(-101%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes left2rightLeave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(101%);
  }
}

@keyframes onLoadHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

%blueFilter {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($colors-primary, 0.8);
}

%socials-hover {
  display: inline-block;
  transition-property: transform, color;
  transition-duration: $default-transition;
  transition-timing-function: ease-in-out;

  &:hover {
    color: $colors-secondary;
    transform: rotate(8deg);
  }
}
