.post-type-archive-company {
  .company-header {
    position: relative;
    min-height: 450px;
    overflow: hidden;
    margin-bottom: 0;

    .company-filter {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      transform: scale(0.75);
      z-index: 1;

      @include respond-to(m) {
        transform: scale(1);
      }

      @include respond-to(l) {
        transform: scale(1.25);
      }

      &__item {
        position: absolute;
        width: 100%;
        margin: 10px 15px;
        padding: 10px 0;
        transition: background-color .2s, color .2s;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        color: $colors-primary;
        font-weight: bold;
        line-height: 1.5;

        &:hover {
          &::before {
            transform: rotate(45deg) scale(1.05);
          }
        }

        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background: $color-white;
          border-radius: 1em;
          transform: rotate(45deg);
          z-index: -1;
          transition: all $default-transition ease-in-out;
        }

        &.is-active {
          color: $color-white;

          &:before {
            background: $colors-secondary;
          }
        }

        @include respond-to(s) {
          width: initial;
          padding: 10px;
        }

        &:nth-child(1) {
          font-size: 1.2em;
          height: 25vh;
          width: 25vh;
        }

        &:nth-child(2) {
          height: 20vh;
          width: 20vh;
          transform: translate(125%, 50%);
        }

        &:nth-child(3) {
          height: 20vh;
          width: 20vh;
          transform: translate(-125%, 50%);
        }

        &:nth-child(4) {
          height: 16vh;
          width: 16vh;
          font-size: 0.9em;
          transform: translate(-75%, -125%);
        }

        &:nth-child(5) {
          height: 16vh;
          width: 16vh;
          font-size: 0.9em;
          transform: translate(100%, -100%);
        }

        &:nth-child(6) {
          height: 12vh;
          width: 12vh;
          font-size: 0.7em;
          transform: translate(-65%, 175%);
        }
      }
    }

    .bg-text {
      display: inline-block;
      position: absolute;
      top: 0;
      font-size: 250px;
      color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgba($color-white, 0.25);
    }
  }

  .reset-container {
    transition: transform .2s, opacity .2s;
    transform: translateY(20px);
    pointer-events: none;
    opacity: 0;
    margin-bottom: 50px;

    &.is-active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  .company-list {
    min-height: 750px;
    overflow: hidden;
    padding-bottom: 2em;

    &__top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .card-container {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;

      @include respond-to(s) {
        width: 45%;
      }

      @include respond-to(m) {
        width: 30%;
      }

      &__wrapper {
        position: relative;
      }

      &__none {
        font-size: 2em;
        opacity: 0.25;
        font-weight: $font-weight-black;
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .card-company {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 220px;
      max-width: 100%;
      box-shadow: 0 0.75em 1em rgba($color-black-10, 0.2);
      transition: transform .2s, box-shadow .2s;
      padding: 1em 0;
      border-radius: 0.2em;

      &:hover {
        transform: translateY(0.25em);
        box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.1);
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
