.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding-top: 2em;
  margin-bottom: 3em;

  @include respond-to(m) {
    padding-top: 9em;
    padding-left: 10em;
    min-height: 45em;
    margin-bottom: 7.5em;
  }

  &__side-tab {
    display: none;

    @include respond-to(m) {
      display: block;
      position: absolute;
      color: $color-white;
      z-index: 10;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform-origin: center center;
      transform: rotate(180deg);
      text-align: right;
      margin-top: 2em;
      left: 1em;

      h1 {
        font-size: px2em(40px, 16px);
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    color: $color-white;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 2em;
    font-size: px2em(28px, 16px);

    @include respond-to(m) {
      font-size: px2em(42px, 16px);
    }

    @include respond-to(l) {
      font-size: px2em(50px, 16px);
      padding-right: 5em;
    }

    strong {
      color: $colors-secondary;
      font-weight: normal;
    }
  }

  &__figure {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $colors-primary-80;
    }
  }

  .align-center {
    width: 100%;
  }

  &__link {
    position: relative;
    z-index: 10;
    margin-bottom: 2em;
    font-size: 1em;

    @include respond-to(m) {
      font-size: 1.5em;
    }
  }
}

.values {
  &__list {
    display: flex;
    flex-flow: row wrap;
  }
}

.startups {
  position: relative;
  background: rgba($colors-light, 0.9);
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: hidden;

  @include respond-to(m) {
    padding: 150px 120px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    //max-width: 1150px;
    margin: 0 auto;
    flex-direction: column;

    @include respond-to(m) {
      flex-direction: row;
    }
  }

  &__title {
    //white-space: nowrap;
    line-height: 1;
    color: $colors-primary;
    font-size: px2em(40px, 16px);

    @include respond-to(m) {
      font-size: px2em(70px, 16px);
      padding-right: 1.5em;
      max-width: 60%;
      margin-bottom: 0;
    }

    @include respond-to(l) {
      font-size: px2em(80px, 16px);
    }

    &::after {
      content: '';
      display: block;
      width: 130px;
      background: $colors-primary;
      margin-top: 0.2em;
      height: 5px;

      @include respond-to(m) {
        height: 10px;
      }
    }
  }

  &__content {
    flex: 1;

    @include respond-to(m) {
      max-width: 40%;
    }
  }

  &__btn {
    font-size: 1em;

    @include respond-to(m) {
      font-size: 1.5em;
    }
  }

  &__text {
    margin-bottom: 35px;
    color: $colors-primary;
    line-height: 1.5;
  }

  &__background {
    position: absolute;
    top: -10%;
    left: 0;
    height: 120%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.join {
  &__content {
    display: flex;
    flex-direction: column;

    @include respond-to(xl) {
      flex-direction: row;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    margin-right: 30px;
    padding: 80px 0 20px 30px;
    color: $colors-secondary;
    font-size: px2em(45px, 16px);
    line-height: 1.5;
    background: $colors-superlight;
    min-height: 5em;
    min-width: 5em;

    @include respond-to(xs) {
      max-width: 470px;
      min-height: 340px;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 65px;
      width: 88px;
      height: 15px;
      background: $colors-primary;
    }

    @include respond-to(s) {
      max-width: 30vw;
      min-height: 340px;
    }
  }

  &__list {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include respond-to(xs) {
      flex-direction: row;
    }

    .card-join {
      flex: 1;
    }

    @include respond-to(s) {
      flex: 1;
    }
  }
}

.contact {
  padding: 60px 0;
  background: $colors-light;

  &__title {
    margin-bottom: 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include respond-to(m) {
      flex-direction: row;
    }
  }

  &__form {
    width: 100%;
    max-width: 950px;
  }

  .form-fields-container {
    margin-bottom: 45px;
    background: $color-white;
    padding: 1em;

    @include respond-to(m) {
      padding: 70px 65px;
    }
  }


  &__text {
    flex: 1;
    max-width: 500px;
    color: $colors-primary;
    margin-top: 1em;
    font-size: px2em(22px, 16px);


    @include respond-to(m) {
      margin-left: 60px;
      font-size: px2em(30px, 16px);
    }
  }
}
