.single-company {
  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 2em;

    @include respond-to(m) {
      flex-direction: row;
      padding: 9em 2em 6.25em;
    }

    @include respond-to(xxl) {
      padding: 9em 0 6.25em;
    }
  }

  &__desc {
    flex: 1;
    color: $color-white;
    font-weight: 900;
    width: 100%;
    margin-bottom: 4em;
    text-align: center;

    @include respond-to(m) {
      width: 40%;
      margin-bottom: 0;
    }

    @include respond-to(l) {
      text-align: inherit;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(m) {
    }

    @include respond-to(l) {
      flex-direction: row;
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 220px;
    background: $color-white;
    overflow: hidden;
    padding: 1em;
    border-radius: 0.2em;
    margin-bottom: 2em;

    @include respond-to(m) {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__side {
    flex: 1;
    line-height: 1.5;

    @include respond-to(m) {
      max-height: 220px;
    }
  }

  &__title {
    font-size: px2em(32px, 16px);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 0.5em;

    @include respond-to(m) {
      font-size: px2em(40px, 16px);
    }
  }

  &__type {
    font-size: px2em(20px, 16px);
  }

  &__mail {
    display: block;
    margin-bottom: 5px;
  }

  &__phone {
    display: block;
    margin-bottom: 5px;
  }

  &__website-link {
    margin-bottom: 5px;
    text-decoration: underline;
  }

  &__contact-name {
    font-size: px2em(20px, 16px);
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  &__head-footer {
    display: block;
    width: 100%;
    margin-top: 30px;

    .social-sharer {
      &__item {
        font-size: 3.5em;
        margin-right: 0.15em;
        @extend %socials-hover;
      }
    }
  }

  .video-bloc {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    @include respond-to(m) {
      width: 40%;
    }

    .plyr {
      border: solid 4px $colors-secondary;
      width: 100%;
      max-width: 560px;
      max-height: 340px;
    }

    &__placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 4px $colors-secondary;
      width: 100%;
      max-width: 560px;
      height: 340px;
      background: $colors-light;

      p {
        font-size: px2em(20px, 16px);
        font-weight: 900;

        span {
          color: $colors-secondary;
        }
      }
    }
  }
}
