.card-join {
    position: relative;
    max-width: 100%;
    padding: 30px 15px 10px;
    width: 100%;

    @include respond-to(xs) {
        width: 350px;
    }

    &__title {
        width: 70px;
        height: 70px;
        background: $colors-secondary;
        text-align: center;
        justify-content: center;
        color: $color-white;
        font-size: px2em(35px, 16px);
        line-height: 70px;
    }

    &__text {
        color: $colors-primary;
        font-size: 1em;
        line-height: 1.5;

        &::before {
            content: '';
            display: block;
            width: 130px;
            height: 10px;
            background: $colors-primary;
            margin-bottom: 40px;
        }
    }

    &__icon {
        position: absolute;
        z-index: -1;
        bottom: 60px;
        right: 50px;
        width: 110px;
        opacity: 0.4;
    }
}
