.card-actu {
  $base: &;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: px2em(80px, 16px);

  @include respond-to(m) {
    flex-direction: row;
    margin-bottom: px2em(80px, 16px);
    transition: all $default-transition ease-in-out;
    padding: 1em;

    &:hover {
      transform: translateY(-0.5em);
      box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.1);

      #{$base} {
        &__img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__tag {
    font-size: 1.25em;
    text-transform: uppercase;
    color: $color-white;
    background-color: $colors-secondary;
    display: inline-block;
    font-weight: 900;
    padding: 0.25em 0.5em;
  }

  &__title {
    text-decoration: underline;
    font-size: 1.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  &__date {
    margin-bottom: 1em;
    font-size: 0.9em;
    font-style: italic;

    @include respond-to(m) {
      margin-bottom: 4em;
    }
  }

  &__link {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__text {
    font-size: 1.25em;
  }

  &__left {
    color: $colors-primary;
    line-height: 1.5;

    @include respond-to(m) {
      margin-right: px2em(120px, 16px);
    }
  }

  &__right {
    position: relative;
    background-color: $colors-light;
    color: $color-white;
    width: px2em(550px, 16px);
    height: px2em(300px, 16px);
    max-height: 50vw;
    max-width: 100%;
    flex-shrink: 0;
    opacity: 0.4;
    margin-bottom: 1em;
    overflow: hidden;

    @include respond-to(m) {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: 'HRTECH';
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 900;
      opacity: 0.6;
      line-height: 1;
      font-size: 5em;
      z-index: 1;

      @include respond-to(m) {
        font-size: 10em;
      }
    }
  }

  &__figure {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all $default-transition ease-in-out;
    transform: scale(1);
  }
}
