.card-value {
    flex: 1;
    padding: 0 2em;
    margin-bottom: 2em;
    min-width: 300px;

    &__img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        margin: 0 auto 40px;
    }

    &__img {
        display: block;
        width: 80px;
        margin: 0 auto;
    }

    &__title {
        font-size: px2em(35px, 16px);
        color: $colors-secondary;
        text-align: center;
        margin-bottom: 30px;
    }

    &__text {
        color: $colors-primary;
        line-height: 1.5;
        text-align: center;
    }
}
