.event-bloc-header {
  justify-content: space-between;
  padding: 3em 1.5em;

  @include respond-to(m) {
    padding: 6em 3.25em;
  }

  &__date,
  &__event {
    z-index: 2;
  }

  &__date {
    text-align: center;
    margin-bottom: 2em;

    @include respond-to(m) {
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__date-day {
    font-weight: 900;
    color: $colors-secondary;
    line-height: 1;
    margin-bottom: 0.5em;
    font-size: 3em;

    @include respond-to(m) {
      font-size: 5em;
    }
  }

  &__date-hour {
    color: $color-white;
    font-size: 1.5em;
    font-weight: 900;

    @include respond-to(m) {
      font-size: 2.5em;
      height: 0;
    }
  }

  &__date-dD {
    text-transform: capitalize;
  }

  &__date-o {
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $colors-secondary;
  }

  &__event {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include respond-to(m) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__intitule {
    font-weight: 900;
    color: $color-white;
    line-height: 1.5;
    text-align: center;
    font-size: 2.25em;

    @include respond-to(m) {
      font-size: 3.25em;
      text-align: left;
      max-width: 66%;
      margin-bottom: 0;
    }
  }

  &__btn {
    text-align: center;
    font-size: 1em;
  }
}
