.extra-animate {
  display: none;

  @include respond-to(xxl) {
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: -1;
    font-size: 0.9em;
    font-weight: 900;
    color: $colors-primary;

    span {
      display: inline-block;
      transform: translateX(-100%) rotate(-90deg);
    }
  }
}
