.wpcf7-form {
    .wpcf7-text, 
    .wpcf7-textarea {
        width: 100%;
        border: 0;
        border-bottom: solid 2px $colors-secondary;
        padding: 15px;
        background: $colors-superlight;
        margin-bottom: 25px;

        &::placeholder {
            color: $colors-primary-40;
            font-size: px2em(25px, 16px);
        }
    }
}