.section-title {
  width: 33%;
  border-top: $colors-primary 0.3em solid;
  text-align: right;
  font-weight: 900;
  padding-top: 0.25em;
  font-size: 0.75em;

  @include respond-to(m) {
    font-size: 1.125em;
  }
}
