.title {
  &--h1 {
    font-weight: 900;
    font-size: 1.5em;

    @include respond-to(m) {
      font-size: 2.8em;
    }
  }

  &--h2 {
    color: $colors-primary;
    font-weight: 900;
    font-size: 1.5em;

    @include respond-to(m) {
      font-size: 2.8em;
    }
  }
}

.red {
  color: $colors-secondary;
}
