.footer {
  background-color: $colors-primary;

  &__wrapper {
    display: flex;
    color: $color-white;
    align-items: center;
    justify-content: space-between;
    padding: 5em;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;

    @include respond-to(m) {
      flex-direction: row;
    }

    @include respond-to(xxl) {
      padding: 5em 0;
    }
  }

  &__left,
  &__middle {
    margin-bottom: 3em;

    @include respond-to(m) {
      margin-bottom: 0;
    }
  }

  &__left {
    align-items: flex-start;
  }

  &__right {
    align-items: flex-end;
  }

  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo {
    max-width: px2em(160px, 16px);
    margin-bottom: 2em;

    @include respond-to(m) {
      align-self: flex-start;
    }
  }

  &__copyright {
    font-weight: 900;
  }

  &__menu-list {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 900;
  }

  &__menu-item {
    &:last-child {
      a {
        margin-bottom: 0;
      }
    }

    a {
      @extend %hoverHighlight;
      margin-bottom: 0.5em;

      @include respond-to(m) {
        margin-bottom: 2em;
      }
    }
  }

  &__socials-wrapper {
    text-align: center;
  }

  &__socials {
    display: flex;
  }

  &__follow-us {
    font-size: 1.75em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }

  &__socials-item {
    font-size: 3.5em;
    margin-right: 0.15em;
    @extend %socials-hover;
  }
}
