.header {
  $base: &;

  position: relative;
  //padding: 1em 0;

  &__burger-wrapper {
    &:before {
      content: '';
      background-color: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    &:after {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 9;
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.19791666666666663) 100%);
      opacity: 0;
      pointer-events: none;
      transition: opacity $default-transition ease-in-out;
    }

    &:before,
    &:after {
      @include respond-to(m) {
        display: none;
      }
    }
  }

  &__burger {
    $burger: &;

    z-index: 99;
    position: relative;

    &-label {
      display: block;
      max-width: $max-width;
      margin: 0 auto;

      &:focus {
        outline: none;
      }
    }

    &-input {
      display: none;

      &:checked {
        + div {

          &:after {
            opacity: 1;
            pointer-events: inherit;

            @include respond-to(m) {
              display: none;
            }
          }

          @include respond-to(m) {
            min-height: inherit;
          }

          #{$burger} {
            @extend .is-active;
          }

          #{$base} {
            &__nav-content {
              min-height: 80vh;
              background-color: $color-white;
              transform: translateY(100%);

              @include respond-to(m) {
                transform: inherit;
                background-color: inherit;
                min-height: inherit;
              }
            }
          }
        }
      }
    }

    @include respond-to(m) {
      display: none;
    }
  }

  &__nav-content {
    $headerHeight: px2em(150px, 16px);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    transform: translateY(-200%);
    background-color: $color-white;
    z-index: 98;
    padding: 0 $default-horizontal-padding 4em;
    flex-direction: column;
    transition: transform $default-transition ease-in-out;
    border: none;

    @include respond-to(m) {
      padding: 1em;
      display: flex;
      position: inherit;
      transform: inherit;
      height: $headerHeight;
      flex-direction: row;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transform: translateY(100%);
      min-height: 100vh;
      z-index: -1;

      @include respond-to(m) {
        display: none;
      }
    }
  }

  &__logo-wrapper {
    height: 100%;
    margin-bottom: 1em;

    @include respond-to(m) {
      margin-bottom: 0;
    }
  }

  &__logo {
    height: 100%;
    max-height: px2em(80px, 16px);

    &--white {
      display: none;
    }
  }

  &.header--white {
    #{$base} {
      &__logo {
        &--classic {
          display: none;
        }

        &--white {
          display: block;
        }
      }
    }
  }

  &__menu {
    font-weight: 900;
    font-size: 1.25em;
    text-transform: uppercase;
    color: $colors-primary;
    margin-bottom: 2em;

    @include respond-to(m) {
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: column;

    @include respond-to(m) {
      flex-direction: row;
    }
  }

  &__menu-item {
    @extend %hoverHighlight;
    margin-right: 2em;
  }

  &__socials {
    display: flex;
    margin-top: auto;

    @include respond-to(m) {
      margin-top: inherit;
    }
  }

  &__socials-item {
    font-size: 2.5em;
    color: $colors-primary;
    transition-property: transform, color;
    transition-duration: $default-transition;
    transition-timing-function: ease-in-out;
    margin-right: 0.15em;

    &:hover {
      color: $colors-secondary;
      transform: rotate(8deg);
    }
  }
}
