// # Base styles : opinionated defaults
//
// Inspired from [HTML5 boilerplate](https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css)
html {
  color: $colors-text;
  font-family: $font-default;
  font-size: 1em;
  line-height: $base-line-height;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  &,
  &::before,
  &::after {
    // Inherit from parent (set to `border-box` in `html`, see below)
    // This allow easy override and may avoid conflicts with external content
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: auto;
  margin: 0;
}

body {
  background-color: $color-default-background;
  font-size: 16px;
  font-weight: 400;

  // IE11 compatibility (sticky footer)
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Vertical rhythm: Remove top margin of common elements
// @see https://csswizardry.com/2012/06/single-direction-margin-declarations/
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

// Add offset to anchors when header is sticky
// See https://stackoverflow.com/a/28824157/1224564
// Caveat: It assumes the header has a fixed height
//@include breakpoint($breakpoint-l) {
//  :target {
//    $header-height: null;
//
//    &::before {
//      content: "";
//      display: block;
//      height: $header-height;
//      margin-top: -$header-height;
//    }
//  }
//}

option,
optgroup {
  color: initial;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// Prevent using line breaks and blank paragraphs for spacing
// See https://twitter.com/csswizardry/status/1170835532584235008?s=20
br + br,
p:empty {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//wrapper
.wrapper {
  width: 100%;
  max-width: $max-width;
  padding: 0 $default-horizontal-padding;

  @include respond-to(xxl) {
    padding: 0;
    margin: 0 auto;
  }
}

.align-center {
  text-align: center;
}
