{% extends "base.twig" %}

{% block content %}
    <div class="company-header classic-header rellax" data-rellax-speed="1" data-rellax-desktop-speed="5"
         data-rellax-mobile-speed="0"
         data-rellax-xs-speed="0">
        {% if post.thumbnail %}
            <img src="{{ Image(options.company_archive_bg).src }}" alt="{{ Image(options.company_archive_bg).alt }}"
                 class="classic-header__background">
        {% endif %}

        <nav class="company-filter wrapper">
            {% for item in sector_terms %}
                <p class="company-filter__item" data-filter="{{ item.slug }}">{{ item.name }}</p>
            {% endfor %}
        </nav>

        <div class="classic-header__extra rellax" data-rellax-speed="-3" data-rellax-mobile-speed="0"
             data-rellax-xs-speed="0" data-rellax-percentage="0">
            HRTECH
        </div>
    </div>

    <div class="company-list wrapper grid wrapper" id="companies">
        <div class="company-list__top-bar section__header wrapper">
            <h1 class="section__title title--h2">
                Toutes nos startups
            </h1>

            <div class="section__section-title section-title">
                <span class="red">01</span>
                / Startups
            </div>
        </div>

        <div class="card-container__wrapper">
            {% for post in posts %}
                <div class="card-container grid-item {{ post.terms[0].slug }}">
                    <a href="{{ post.link }}" class="card-company">
                        <img class="card-company__img" src="{{ Image(post.logo).src }}"
                             alt="{{ Image(post.thumbnail).alt }}">
                    </a>
                </div>
            {% endfor %}
            <div class="card-container__none">
                Aucun résultat
            </div>
        </div>
    </div>

    <div class="align-center reset-container">
        <button class="btn filter-reset">Toute les entreprises</button>
    </div>
{% endblock %}
