{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    {% include 'components/archive-header.twig' %}

    <div class="wrapper">
        {% for post in posts %}
            <a href="{{ post.link }}" class="card-actu">
                <span class="card-actu__left">
                    <h2 class="card-actu__title">
                        {{ post.title }}
                    </h2>
                    <p class="card-actu__date">
                        {{ post.post_date|date("d F o") }}
                    </p>

                    <p class="card-actu__text">{{ post.post_content| truncate(50, true) }}</p>
                </span>

                <span class="card-actu__right">
                    <figure class="card-actu__figure">
                        <img src="{{ Image(post.thumbnail).src | resize(300, 300) }}"
                             alt="{{ Image(post.thumbnail).alt }}"
                             class="card-actu__img">
                    </figure>
                </span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
