<div class="footer__wrapper">
    <div class="footer__left footer__item">
        <div class="footer__copyright-wrapper">
            <img src="/wp-content/themes/hrtech/images/logo-hrtech-negative.png" alt="HRTech"
                 class="footer__logo">
            <p class="footer__copyright">
                Copyright {{ "now"|date('Y') }} - Tous droits réservés
            </p>
        </div>
    </div>
    <div class="footer__middle footer__item">
        {% include "partial/footer/menu.twig" with {'menu': menu.get_items} %}
    </div>
    <div class="footer__right footer__item">
        {% include "partial/footer/follow.twig" %}
    </div>
</div>
