<label class="header__burger-label">
    <input type="checkbox" name="burger" id="burger" class="header__burger-input">
    <div class="header__burger-wrapper">
        <div class="header__burger hamburger hamburger--collapse">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
        <div class="header__nav-content">
            {% include "partial/header/logo.twig" %}
            {% include "partial/header/nav.twig" %}
            {% include "partial/header/search.twig" %}
            {% include "partial/header/social.twig" %}
        </div>
    </div>
</label>
