{% extends "base.twig" %}

{% block content %}
    {% if highlighted %}
        {% include "templates/components/event-bloc-header.twig" %}
    {% else %}
        {% include "templates/components/basic-bloc-header.twig" %}
    {% endif %}

    <section class="values wrapper section">
        {% include "templates/components/extra-animate.twig" %}

        <div class="values__header section__header">
            <h2 class="section__title title--h2">
                {{ post.values_title }}
            </h2>

            <div class="section__section-title section-title">
                <span class="red">01</span>
                / {{ post.values_title }}
            </div>
        </div>

        <div class="values__list">
            {% for card in post.meta('values_list') %}
                <div class="card-value">
                    <figure class="card-value__img-container">
                        <img class="card-value__img" src="{{ Image(card.icon).src }}" alt="">
                    </figure>

                    <h3 class="card-value__title">{{ card.title }}</h3>

                    <p class="card-value__text">{{ card.text }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="startups section">
        <div class="startups__container wrapper">
            <h2 class="title title--h2 startups__title"> {{ post.startup_title }} </h2>

            <div class="startups__content">
                <p class="startups__text"> {{ post.startup_text }} </p>

                <a class="startups__btn btn" href="{{ post.startup_link }}"> {{ post.startup_btn }} </a>
            </div>
        </div>

        <img src="{{ Image(post.startup_bg).src }}" alt="startups background" class="startups__background rellax" data-rellax-percentage="0.5">
    </section>

    <section class="join wrapper section">
        {% include "templates/components/extra-animate.twig" %}

        <div class="join__header section__header">
            <h2 class="section__title title--h2">
                {{ post.join_title }}
            </h2>

            <div class="section__section-title section-title">
                <span class="red">03</span>
                / {{ post.join_title }}
            </div>
        </div>

        <div class="join__content">
            <h3 class="join__title"> {{ post.join_subtitle }} </h3>

            <div class="join__list">
                {% for card in post.meta('join_step') %}
                    <div class="card-join">
                        <p class="card-join__title"> {{ card.title }} </p>

                        <p class="card-join__text"> {{ card.text }} </p>

                        <img class="card-join__icon" src="{{ Image(card.icon).url }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact__container wrapper">
            <h2 class="title title--h2 contact__title"> {{ post.contact_title }} </h2>

            <div class="contact__content">
                <div class="contact__form">
                    {{ post.content }}
                </div>

                <p class="contact__text"> {{ post.contact_text }} </p>
            </div>
        </div>
    </section>
{% endblock %}
