{% extends "base.twig" %}

{% block content %}
    {% if highlighted %}
        {% include "templates/components/event-bloc-header.twig" %}
    {% else %}
        {% include 'components/actualities-header.twig' %}
    {% endif %}

    <div class="article__list wrapper">
        <div class="section__header">
            {% if misEnAvant == true %}
                <h1 class="section__title title--h2">
                    {{ post.title }}
                </h1>

                <div class="section__section-title section-title">
                    <span class="red">01</span>
                    / {{ post.title }}
                </div>
            {% endif %}
        </div>

        {% for post in posts %}
            {% if loop.index > 0 %}
                <div class="card-actu">
					<span class="card-actu__left">
						<p class="card-actu__tag">
							{{ post.terms[0].name }}
						</p>
						<h2 class="card-actu__title">
                            <a class="card-actu__link" href="{{ post.link }}">
                                {{ post.title }}
                            </a>
						</h2>
						<p class="card-actu__date">
							{{ post.post_date|date("d F o") }}
						</p>

						<p class="card-actu__text">{{ post.post_content| truncate(50, true) }}</p>
					</span>

                    <span class="card-actu__right">
						<figure class="card-actu__figure">
							{% if post.thumbnail %}
                                <img src="{{ Image(post.thumbnail).src | resize(300, 300) }}"
                                     alt="{{ Image(post.thumbnail).alt }}"
                                     class="card-actu__img">
                            {% endif %}
						</figure>
					</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
