{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				{% include 'components/classic-header.twig' %}
				<div class="classic-content wrapper">
					{{post.content}}

					<div class="classic-content__extra rellax" data-rellax-speed="-3" data-rellax-mobile-speed="0" data-rellax-xs-speed="0" data-rellax-percentage="0">
						HRTECH
					</div>
				</div>
			</section>
		</article>
	</div>
{% endblock %}
