{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="single-company__container">
            <section class="single-company__section">
                {% include 'components/company-header.twig' %}
                <div class="classic-content wrapper">
                    {{post.content}}

                    <div class="classic-content__extra rellax" data-rellax-speed="-3" data-rellax-mobile-speed="0" data-rellax-xs-speed="0" data-rellax-percentage="0">
                        HRTECH
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endblock %}
