{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				{% include 'components/classic-header.twig' %}
				<div class="classic-content wrapper">
					{{post.content}}

					<div class="classic-content__extra rellax" data-rellax-speed="-3" data-rellax-mobile-speed="0" data-rellax-xs-speed="0" data-rellax-percentage="0">
						HRTECH
					</div>
				</div>
			</section>

			<!-- comment box -->
{#			<section class="comment-box">#}
{#				<!-- comments -->#}
{#				<div class="comments">#}
{#				    {% if post.comments %}#}
{#					<h3> comments </h3>#}
{#					{% for cmt in post.comments %}#}
{#					    {% include "comment.twig" with {comment:cmt} %}#}
{#					{% endfor %}#}
{#				    {% endif %}#}
{#				</div>#}

{#				{% if post.comment_status == "closed" %}#}
{#					<p> comments for this post are closed </p>#}
{#				{% else %}#}
{#				    <!-- comment form -->#}
{#				    {% include "comment-form.twig" %}#}
{#				{% endif %}#}
{#			</section>#}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
