<h1 class="header__logo-wrapper" role="banner">
    <a class="header__link" href="{{ site.url }}" rel="home">
        <img src="/wp-content/themes/hrtech/images/logo-hrtech.png" alt="HRTech"
             class="header__logo header__logo--classic">
        <img src="/wp-content/themes/hrtech/images/logo-hrtech-negative.png" alt="HRTech"
             class="header__logo header__logo--white">
    </a>
</h1>
