<ul class="header__socials">
    <li class="header__socials-item">
        <a href="#" class="icon icon-facebook-circled" target="_blank"></a>
    </li>
    <li class="header__socials-item">
        <a href="#" class="icon icon-linkedin-circled" target="_blank"></a>
    </li>
    <li class="header__socials-item">
        <a href="#" class="icon icon-twitter-circled" target="_blank"></a>
    </li>
</ul>
