//ToDO Normalize color/colors
// COLORS
$colors-primary: #0D0040;
$colors-secondary: #EB2545;
$colors-tertiary: #05657F;
$colors-light: #E7E7E7;
$colors-superlight: #FAFAFA;

$color-black: #000000;
$color-white: #ffffff;

$colors-text: $color-black;
$color-default: $color-black;

$color-default-background: $color-white;

//transparent colors
$colors-primary-80: rgba($colors-primary, .8);
$colors-primary-40: rgba($colors-primary, .4);
$color-black-10: rgba($color-black, .4);

// FONTS
$font-biotif: 'Biotif', sans-serif;
$font-ptserif: 'PT Serif', sans-serif;

$font-default: $font-biotif;
$font-secondary: $font-ptserif;
$base-line-height: 1.2;

// FONT-WEIGHT
$font-weight-light: 100;
$font-weight-semi-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-book: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// WIDTH
$max-width: 95em;
$default-horizontal-padding: 2em;

// RANDOM
$default-transition: 0.25s;

// BURGER
$hamburger-layer-color : $colors-primary;
